.breed_select--input {
  font-size: 18px;
  height: 30px;
  margin: 0 5%;
  padding-left: 15px;
  width: 90%;
}
.BreedList-container {
  padding: 0 5%;
  width: 100%;
}
.BreedList-title {
  font-family: system-ui;
  font-size: 28px;
  text-align: center;
}
.BreedList-body {
  width: 100%;
  overflow-y: scroll;
  max-height: calc(100vh - 162px);
}
.BreedList {
  margin-top: 12px;
  width: 30%;
}
